sources/entities/whatizit.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns:tns="http://www.ebi.ac.uk/webservices/whatizit/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.ebi.ac.uk/webservices/whatizit/ws" name="whatizit">

  <types>
    <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebi.ac.uk/webservices/whatizit/ws" version="1.0">

    <xs:element xmlns:ns1="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns1:search" name="search"></xs:element>
    <xs:complexType name="search">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="pipelineName"></xs:element>
        <xs:element type="xs:string" minOccurs="0" name="query"></xs:element>
        <xs:element name="limit">      
          <xs:simpleType>
            <xs:restriction base="xs:int">
              <xs:minInclusive value="0"></xs:minInclusive>
              <xs:maxExclusive value="10000"></xs:maxExclusive>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>      
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns2="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns2:searchResponse" name="searchResponse"></xs:element>
    <xs:complexType name="searchResponse">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="return"></xs:element>
      </xs:sequence>
    </xs:complexType>
    
    <xs:element xmlns:ns3="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns3:WhatizitException" name="WhatizitException"></xs:element>
    <xs:complexType name="WhatizitException">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="message"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns4="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns4:contact" name="contact"></xs:element>
    <xs:complexType name="contact">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="pipelineName"></xs:element>
        <xs:element type="xs:string" minOccurs="0" name="text"></xs:element>
        <xs:element type="xs:boolean" name="convertToHtml"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns5="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns5:contactResponse" name="contactResponse"></xs:element>
    <xs:complexType name="contactResponse">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="return"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns6="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns6:queryPmid" name="queryPmid"></xs:element>
    <xs:complexType name="queryPmid">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="pipelineName"></xs:element>
        <xs:element type="xs:string" minOccurs="0" name="pmid"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns7="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns7:queryPmidResponse" name="queryPmidResponse"></xs:element>
    <xs:complexType name="queryPmidResponse">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="return"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:element xmlns:ns8="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns8:getPipelinesStatus" name="getPipelinesStatus"></xs:element>
    <xs:complexType name="getPipelinesStatus"></xs:complexType>

    <xs:element xmlns:ns9="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns9:getPipelinesStatusResponse" name="getPipelinesStatusResponse"></xs:element>
    <xs:complexType name="getPipelinesStatusResponse">
      <xs:sequence>
        <xs:element xmlns:ns10="http://www.ebi.ac.uk/webservices/whatizit/ws" type="ns10:selectItem" minOccurs="0" name="return" maxOccurs="unbounded"></xs:element>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="selectItem">
      <xs:sequence>
        <xs:element type="xs:string" minOccurs="0" name="description"></xs:element>
        <xs:element type="xs:boolean" name="disabled"></xs:element>
        <xs:element type="xs:string" minOccurs="0" name="label"></xs:element>
        <xs:element type="xs:anyType" minOccurs="0" name="value"></xs:element>
      </xs:sequence>
    </xs:complexType>
    </xs:schema>  
  </types>
  
  
  <message name="contact">
    <part element="tns:contact" name="parameters"></part>
  </message>
  
  <message name="contactResponse">
    <part element="tns:contactResponse" name="parameters"></part>
  </message>

  <message name="WhatizitException">
    <part element="tns:WhatizitException" name="fault"></part>
  </message>
  
  <message name="getPipelinesStatus">
    <part element="tns:getPipelinesStatus" name="parameters"></part>
  </message>
  
  <message name="getPipelinesStatusResponse">
    <part element="tns:getPipelinesStatusResponse" name="parameters"></part>
  </message>
  
  <message name="queryPmid">
    <part element="tns:queryPmid" name="parameters"></part>
  </message>
  
  <message name="queryPmidResponse">
    <part element="tns:queryPmidResponse" name="parameters"></part>
  </message>
  
  <message name="search">
    <part element="tns:search" name="parameters"></part>
  </message>
  
  <message name="searchResponse">
    <part element="tns:searchResponse" name="parameters"></part>
  </message>
  
  
  <portType name="whatizit">
    <operation name="contact">
      <input message="tns:contact"></input>
      <output message="tns:contactResponse"></output>
      <fault message="tns:WhatizitException" name="WhatizitException"></fault>
    </operation>
    <operation name="getPipelinesStatus">
      <input message="tns:getPipelinesStatus"></input>
      <output message="tns:getPipelinesStatusResponse"></output>
      <fault message="tns:WhatizitException" name="WhatizitException"></fault>
    </operation>
    <operation name="queryPmid">
      <input message="tns:queryPmid"></input>
      <output message="tns:queryPmidResponse"></output>
      <fault message="tns:WhatizitException" name="WhatizitException"></fault>
    </operation>
    <operation name="search">
      <input message="tns:search"></input>
      <output message="tns:searchResponse"></output>
      <fault message="tns:WhatizitException" name="WhatizitException"></fault>
    </operation>
  </portType>
  
  <binding type="tns:whatizit" name="pipelineBinding">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"></soap:binding>
    <operation name="contact">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="WhatizitException">
        <soap:fault use="literal" name="WhatizitException"></soap:fault>
      </fault>
    </operation>
    <operation name="getPipelinesStatus">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="WhatizitException">
        <soap:fault use="literal" name="WhatizitException"></soap:fault>
      </fault>
    </operation>
    <operation name="queryPmid">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <soap:body use="literal"></soap:body>
      </output>
      <fault name="WhatizitException">
        <soap:fault use="literal" name="WhatizitException"></soap:fault>
      </fault>
    </operation>
    <operation name="search">
      <soap:operation soapAction=""></soap:operation>
      <input>
        <soap:body use="literal"></soap:body>
      </input>
      <output>
        <mime:multipartRelated>
        <mime:part>
           <soap:body parts="" use="literal"></soap:body>
        </mime:part>
         <mime:part>
          <mime:content type="text/xml" part="parameters"></mime:content>
         </mime:part>
       </mime:multipartRelated>
	  </output>
      <fault name="WhatizitException">
        <soap:fault use="literal" name="WhatizitException"></soap:fault>
      </fault>
    </operation>
  </binding>
  <service name="whatizit">
    <port binding="tns:pipelineBinding" name="pipeline">
      <!--<soap:address location="http://www.ebi.ac.uk/webservices/whatizit/ws"/>-->
      <soap:address location="http://www.ebi.ac.uk:80/webservices/whatizit/ws"></soap:address>
    </port>
  </service>
</definitions>